body * {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


.Cont {
	padding: 20px;
}

/*Iteration 1*/

.IDCard {
	border: solid 1px black;
	height: 130px;
	margin-bottom: 20px;
}

.IDCard img {
	float: left;
}

.IDCard p {
	margin: 2px 0;
}

.IDCard span {
	font-weight: bold;
}


/*Iteration 2*/

.pBox {
	border: solid 1px black;
	margin-bottom: 20px;
	padding: 10px;;
}